// Variables
$primary-color: #444;
$text-primary-color: #fff;
$text-secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../images/background.jpg);
$background-opacity: 0.5;

// Functions
@mixin ease_out {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;

            &:after {
                content: ''; 
                position: absolute;

                top: 0;
                right: 0;
                width: 100%;
                height: 100%;

                background: rgba($primary-color, $background-opacity);
                z-index: -1;
            }
        }
    }
}
