// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include ease_out;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0; // Top Right Bottom Left
        background: $text-primary-color;
        @include ease_out;
    }

    // Rotating into X with Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px)
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px)
            }
        }
    }
}