@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    @include background();

    height: 100%;
    margin: 0;
    background: $primary-color;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $text-primary-color;
    line-height: 1.5;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $text-secondary-color;
                @include ease_out();
            }
        }
    }

    &#home {
        overflow: hidden;   // Disable scrollbars
        
        h1 {
            margin-top: 20vh;
        }
    }
}

h1, h2, h3 {
    margin: 0;
    font-weight: 500;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: $text-primary-color;
    text-decoration: none;
}

.text-secondary {
    color: $text-secondary-color;
}